.sticky-navbar {
  top: 0px;
  position: sticky;
  z-index: 100;
  background-color: white;
}

.nav-div {
  height: 120vh;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 60px;

  background-size: cover;

  width: 45vw;
  box-sizing: border-box;
}

.play-cancel {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

select {
  outline: none;
}

option {
  outline: none;
}

.video-container iframe {
  width: 100%;
  display: flex;

  align-items: center;
  height: 400px;
  border: none;
  border-radius: 12px;
  box-shadow: 10px 18px 25px rgba(0, 0, 0, 0.5);
}

.bg-container {
  height: 75vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Poppins';
}

.movie-info-container {
  width: 50vw;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;

  max-height: 395px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 0.6s ease forwards;
  border-radius: 12px;
}

.movie-info-container::-webkit-scrollbar {
  width: 4px;
}

.movie-info-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
  margin: 10px 0;
}

.movie-info-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #b4b4b5, #252424);
  border-radius: 10px;
}

.movie-info-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #4e0ecf, #1b60f1);
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
    height: 395px;
  }
}

.movie-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 150vh;
}

.movie-info-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 17px;
}
.released {
  font-size: 17px;
}
.h3-1 {
  color: rgb(126, 122, 122);
  font-size: 17px;
  text-align: left;
}

.actors {
  text-align: left;
}

.runtime {
  font-size: 17px;
}

.imdbRating {
  font-size: 17px;
}

.duration {
  font-size: 17px;
}

.heading-zone {
  padding-left: 20px;
}
.date-zone {
  padding-right: 20px;
}

.hr-line-zone {
  padding: 0 20px;
}

.hr {
  border: solid 1px rgb(219, 214, 214);
}

.movie-info-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.movie-info-2-sec1 {
  line-height: -20px;
  text-align: center;
}

.h3-1 {
  color: rgb(108, 107, 107);
}

.actors {
  text-align: left;
}

.search-suggestion-container {
  overflow: scroll;

  margin: 0 60px;
  margin-bottom: 20px;
}

.suggested-movies-container {
  display: flex;
  align-items: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.indivisual-suggestion-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: all 0.4s ease;
  font-family: 'Poppins';
}

.movie-info-image-overlay {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.66),
    rgba(0, 0, 0, 0.97)
  );
  opacity: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 20px;
  padding: 0 20px;
  transition: all 0.4s ease;
}

.indivisual-suggestion-card:hover .movie-info-image-overlay {
  opacity: 1;
  padding: 10px 20px;
}

.movie-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.suggestion-card-img {
  object-fit: cover;
  height: 300px;
  border-radius: 20px;
}

.sm-p {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.97)
  );
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 25vh;
  width: 100%;
  border-radius: 10px;

  opacity: 0;
  transition: all 0.4s ease;
}

.sm-p:hover {
  opacity: 1;
  padding: 20px 20px;
}

.indivisual-movie-container {
  height: 25vh;
}

.save-video-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 20px 0;
  background-color: white;
  z-index: 100;
}

.saved-video-button {
  width: 100%;
  margin: 0% 8%;

  font-size: 19px;
  padding: 10px;

  border: none;
  border-radius: 10px;
  background-image: linear-gradient(
    135deg,
    red,
    rgb(162, 15, 15),
    rgb(95, 11, 11),
    #e71616,
    rgb(158, 12, 12),
    rgb(104, 6, 6)
  );
  background-size: 300%;
  color: white;
  font-weight: bold;
  font-family: 'Poppins';
  animation: flowing-gradient 4s ease infinite;
}

@keyframes flowing-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 990px) {
  .movie-details-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 120vh;
  }

  .bg-container {
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    background-size: cover;

    width: 100vw;
    box-sizing: border-box;
  }
  .video-container iframe {
    width: 95%;
    display: flex;

    align-items: flex-start;
    height: 220px;
    border: none;
    border-radius: 12px;
    box-shadow: 10px 18px 25px rgba(0, 0, 0, 0.3);
  }

  .toggle-div-container {
    display: flex;

    margin-top: 30px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
  }

  .toggle-heading {
    box-shadow: 5px 18px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 10px;
    width: 100%;
    background-color: white;
  }
  .movie-info-container {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    height: 100px;
    max-height: 200px;
    margin-top: 30px;
    width: 84vw;
    padding: 0 10px;
  }

  .title {
    font-size: 11px;
  }
  .released {
    font-size: 11px;
  }
  .h3-1 {
    color: rgb(126, 122, 122);
    font-size: 11px;
    text-align: left;
  }

  .actors {
    text-align: left;
  }

  .runtime {
    font-size: 11px;
  }

  .imdbRating {
    font-size: 11px;
  }

  .duration {
    font-size: 11px;
  }

  .search-suggestion-container {
    overflow: scroll;
    margin: 0 10px;
  }

  .suggestion-card-img {
    object-fit: cover;
    height: 200px;
    border-radius: 20px;
  }
  .movie-name {
    font-size: 12px;
  }

  .movie-info-image-overlay {
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    );
    height: 20vh;
    padding: 10px 20px;
  }
}
